body{
    margin: 0;
    text-align: center;
    font-family:'sacramento', 'merriweather', serif;
    color: #1e1e02 ;
    background-color: rgba(245, 244, 232, 0.845);
    
}
.clo1{
    position: absolute;
    right: 300px;
    top: 30px;

}
.clo2{
    position: absolute;
    left: 200px;

}
.top{
    background-color: #f2eea7;
    margin-top: 0px;
    height: 650px;
    padding-top: 50px;
    
   
}
h1{
    font-size: 3.7rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #bfbb66;
    line-height: 2;
}
h2{
    font-size: 2rem;
    font-family:cursive;
    color: #bfbb66;
}
h3{
    color: #bfbb66;
    font-size: 30px;
}
a{
    color: #343324;  
}
.me{
    width: 30%;
    margin: auto;

}


p{
    font-weight: normal;
    line-height: 2;

}

.skill-row{
    text-align: left;
    width: 50%;
    margin: 100px auto 100px auto;
    line-height: 2;

}
.middle-container img{
    border-radius: 50%;
}

.skills1{
    border-radius: 50%;
    width: 25%;
    height: 25%;
    float: left;
    padding: 30px;
}
.skills2{
    border-radius: 50%;
    width: 25%;
    height: 25%;
    float: right;
    padding: 30px;
}

hr{
    width: 10%;
    border:#ece781 dotted;
    border-bottom: none;
    
}
 
.contact-me{
    width: 50%;
    margin: 30px auto 60px;

}

.bottom-container{
    background-color:#bfbb66;
    padding:60px 0px 20px;
    
}


a{
    color:#403f31;
    text-decoration: none;
    margin-left: 20PX;
}

























